name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
   windows-msvc-build:

    runs-on: windows-latest
    
    steps:
    - name: MSVC Environment Setup
      uses: ilammy/msvc-dev-cmd@v1
    - name: checkout
      uses: actions/checkout@v2 
    - name: flex/bison
      run: |
        choco install winflexbison
        ren "C:\ProgramData\chocolatey\bin\win_bison.exe" "bison.exe"
        ren "C:\ProgramData\chocolatey\bin\win_flex.exe" "flex.exe" 
        
    - name: Get SDK
      run: Invoke-webrequest -uri https://github.com/GoldenCheetah/WindowsSDK/releases/download/v0.1.1/gc-win-sdk-64bit.zip -OutFile gc-win-sdk-64bit.zip	      
      	  
    - name: Extract sdk
      run: Expand-Archive -Path gc-win-sdk-64bit.zip -DestinationPath C:\Coding     
           
    - name: Install Qt
      uses: jurplel/install-qt-action@v2
      with:
          version: '5.12.2'
          host: 'windows'
          arch: 'win64_msvc2019_64'
          install-deps: 'true'
          modules: 'qtcharts qtwebengine'
          setup-python: 'false'
      
    - name: Create Makefile
      run: |
        Invoke-Expression "& 'C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\VC\Auxiliary\Build\vcvarsall.bat' amd64"
        qmake -o Makefile build.pro -spec winrt-x64-msvc2019 
      
    - name: Run MakeFile
      run: qmake build.pro
      
    - name: Run jom
      run: jom qmake_all && jom
        
    - name: upload artifact
      uses: actions/upload-artifact@v2
      with:
        name: windows
        path: build\
